.DS_Store

application/config/mail.php
application/config/config.php
application/controllers/Auth.php
file/*.jpg
file/*.png

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
